body {
  background: #518795;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background: #84b1bd;
  width: 340px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  color: #103742
}

.output-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#passcode {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cce9f0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;

}

#copyBtn {
  background: #cce9f0;
  color: #305d69;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Times New Roman', Times, serif;
}

#copyBtn:hover {
  opacity: 0.7;
}

.settings label {
  display: block;
  margin: 10px 0;
  font-size: 15px;
}

.generate {
  width: 100%;
  background: #cce9f0 ;
  color: #305d69;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.generate:hover {
  opacity: 0.85;
}
